h1 {
    text-align: center;
    padding: 30px;
}

.col-md-6 {
    margin: 60px auto;
}

.form-group {
    padding: 10px;
}

.btn.btn-primary.form-control {
    margin-top: 30px;
}

.submit_form {
    padding: 30px;
    display: flex;
    justify-content: space-evenly;
}

.btn.btn-outline-primary.btn-lg {
    padding: 50px 80px;
}

.button_to {
    margin: 30px 58px;
}
